/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #ffe5e5;
  color: #333;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* CHECKBOX */
.checkbox {
  width: 2rem;
  height: 2rem;
  appearance: none;
  border: 2px solid #756ab6;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox::after {
  content: "";
  display: none;
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background-color: #756ab6;
}

.checkbox:checked::after {
  display: block;
}

/* HEADER */

.header {
  padding: 0.4rem 1.6rem;
  background: #756ab6;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 2.4rem;
  position: relative;
}

.header-text {
  flex: 1;
}

.header-actions {
  display: flex;
  gap: 1.6rem;
}

.header button {
  background: none;
  border: none;
  color: #fff;
  font-weight: 700;
}

.header i {
  color: #fff;
}

.header-category {
  font-size: 1.2rem;
  font-weight: 500;
}

.header-search {
  position: relative;
  display: flex;
  flex: 1;
  align-items: end;
}

.header-search input {
  padding: 1.6rem 0;
  padding-bottom: 0.8rem;
  background: none;
  border: none;
  border-bottom: 0.1px solid #999999;
  outline: none;
  color: #fff;
}

.header-search i {
  position: absolute;
  top: calc(50% + 0.4rem);
  left: 0.8rem;
  transform: translateY(-50%);
  color: #333;
}

/* SIDENAV */

.sidenav {
  background-color: #ffe5e5;
  position: absolute;
  width: 75%;
  z-index: 50;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  height: 100%;
  transition: transform 0.3s ease-in;
  pointer-events: none;
}

.sidenav.show {
  transform: translateX(0%);
  pointer-events: all;
}

.sidenav-header {
  background-color: #756ab6;
  padding: 0.8rem;
  color: #fff;
  font-size: 1.4rem;
}

.sidenav-actions {
  padding: 0.8rem 0;
}

.sidenav-action-group {
  border-bottom: 1px solid #756ab6;
  display: flex;
  flex-direction: column;
}

.sidenav-action-group:last-child {
  border: none;
}

.sidenav-action button {
  width: 100%;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  background: none;
  border: none;
}

.sidenav-action {
  position: relative;
}

.sidenav-action::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
}

.sidenav-title {
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  color: #666666;
}

/* OVERLAY */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: all 0.3s ease-in;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

/* MAIN PANEL */

/* ADD BUTTON */

.add-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.6rem;
  padding: 2rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  background-color: #756ab6;
  box-shadow: 3px 5px 10px rgba(51, 51, 51, 0.4);
}

.add-button i {
  font-size: 1.8rem;
}

/* SORT PANEL */
.sort-modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 90%;
  padding: 2.4rem;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  background: #fff;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  transition: opacity 0.1s ease-in, visibility 0.1s ease-in;
}

.sort-modal.show {
  visibility: visible;
  opacity: 1;
}

.sort-title {
  font-weight: 500;
}

.sort-option-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sort-option {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.sort-button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 2.4rem;
}

.sort-button-wrapper button {
  background: none;
  border: none;
  color: #756ab6;
  font-weight: 700;
}

/* NOTES  */

.notes-wrapper {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.note {
  border: 0.1px solid #999999;
  padding: 0.8rem;
  padding-bottom: 0.4rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(to top, #ffe5e5, #fff2f2);
}

.note-date {
  text-align: right;
  font-size: 1.2rem;
}

/* HEADER SELECT */
.header-actions-select {
  position: relative;
  display: flex;
}

.header-actions-option {
  position: absolute;
  background: red;
  width: 180px;
  height: 300px;
  top: 0;
  right: 0;
}
